{% extends 'base.html' %}
{% block title %}
  Exam Page
  
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Word</th>
                <th scope="col">Your answer</th>
                <th scope="col">The real answer</th>

                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.word }}</td>
                    <td><p><input type="text" name="given_def"></p></td>
                    <td>
                    <p id="{{item.id}}" style="display: none;">{{item.definition}} </p></td>
                    <td><button onclick="toggleHidden('{{item.id}}')" class="onButton">Show Hidden Word {{item.id}}</button></td>

                </tr>
            {% endfor %}
        </tbody>
        <td>
            <button id="showButton" onclick="toggleAllButton()">show all definition</button>
            
        </td>


            <script>

                function toggleHidden(elementId) {
                    const hiddenWord = document.getElementById(elementId);
                    if (hiddenWord.style.display === "none") {
                        hiddenWord.style.display = "block";
                    } else {
                        hiddenWord.style.display = "none";
                    }
                }

                document.addEventListener("DOMContentLoaded", function() {
                    // Get a reference to the trigger button
                    var triggerButton = document.getElementById("showButton");
                    
                    // Add a click event listener to the trigger button
                    triggerButton.addEventListener("click", function() {
                    // Get all buttons with the specified class name
                    var buttonsToTrigger = document.querySelectorAll(".onButton");
                    
                    // Loop through each button and trigger a click event
                    buttonsToTrigger.forEach(function(button) {
                        button.click();
                    });
                    });
                });
            </script>
       

    </table>
    
{% endblock %}