{% extends 'base.html' %}
{% block title %}
  Exam Page
  <style>
    #hiddenWord {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Word</th>
                <th scope="col">Your answer</th>
                <th scope="col">The real answer</th>

                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.word }}</td>
                    <td><p><input type="text" name="given_def"></p></td>
                    <td>
                        {{item.definition}}
                    </td>
                    
                    
                    
                    <!-- <td>
                        <button onclick="toggleHidden('hiddenWord{{ item.id }}')">Show Hidden Word {{ item.id }}</button>
                        <p id='hiddenWord{{ item.id }}' style="display: none;">{{item.definition}}</p>

                        <script>
                            function toggleHidden(elementId) {
                                const hiddenWord = document.getElementById(elementId);
                                if (hiddenWord.style.display === "none") {
                                    hiddenWord.style.display = "block";
                                } else {
                                    hiddenWord.style.display = "none";
                                }
                            }
                        </script>

                        
                    </td> -->
                
                </tr>
            {% endfor %}
        </tbody>
        <td>
            <button class="btn btn-outline btn-info">show all definition</button>
            
        </td>

    </table>
    
{% endblock %}