
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mehdi Web App</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Welcome to the app, pls enter key and value to register the word u've just learned, click on exam if you want to test u</h1>
    <form>
      <div class="form__fieldset">
        <label for="word" class="form__label">Word:</label>
        <input type="text" name="word" id="word" class="form__input" />
      </div> 

      <div class="form__fieldset">
        <label for="value" class="form__label">Value:</label>
        <input type="text" name="value" id="value" class="form__input" />
      </div>

      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Commit word"
        />
      </div>

      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Exam"
        />
      </div>
    </form>
  </body>
</html>